.App-header {
  background-color: #282c34;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header p {
  float: right;
}
.main_window {
  padding: 1rem 2rem;
  margin: 0 5rem;
}
.App-header h1 {
  text-decoration: none;
  color: white;
}


@media only screen and (max-width: 768px){
  /*Big smartphones [426px -> 768px]*/
  .main_window {
    padding: 1rem 2rem;
    margin: 0 1rem;
  }
}