<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
>>>>>>> akash/new-env
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
<<<<<<< HEAD
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
=======
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
>>>>>>> akash/new-env
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Comic Neue', cursive;
  background-color: transparent;
}

code {
<<<<<<< HEAD
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
=======
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.results::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.results::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.results::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
>>>>>>> akash/new-env
