@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Comic Neue', cursive;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.results::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.results::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.results::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.theme-button {
  /* border: 2px solid #570DF8; */
  border-radius: 8px;
  margin-right: 1%;
}
.theme-button .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.theme-button svg {
  width: 18px;
  height: 18px;
  fill: currentcolor;
  transition-duration: 0.6s, 0.6s;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1), cubic-bezier(0.2, 0.8, 0.2, 1);
  transition-delay: initial, initial;
}
.theme-button svg.sun {
  transform: rotate(180deg);
}
.theme-button svg.moon {
  transform: rotate(1turn);
}
